*{
    margin: 0px;
    padding: 0px;
}

#header{
    width: 100%;
    background-color: #f0f1f7;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 2px 8px;
    color: rgb(86, 67, 67);
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}
#hide-on-scroll>a{
    color: white;

}
#hide-on-scroll{
    background-color: #202340;
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding:10px;
}

#header-top{
    display: flex;
    padding-top:15px ;
    padding-bottom:0px;
}

#logo>img{
 width: 175px;
 height:44px ;
 margin-left: 20px;
 padding: 3px 0 6px 0;
}
#logo>img:hover{
    cursor: pointer;
    
}
#all-dept-search-bar{
    height: 45px;
    margin-left: 75px;
    display: flex;
    width: auto;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    background-color: white;
    margin-bottom: 10px;
    
}
#drop-down{
    padding: 7px 0 7px 1px;
    width: 141px;
    line-height: 32px;
    font-size: 14px;
    text-align:left;
}
#all-dept-search-bar:hover{
    cursor: pointer;
}
select{
    border: 0px;
    text-decoration-style: none;
    margin-left: 10px;
}
.select-search-bar{
    border: 1px solid red;
}

#search-bar{
width: 465px;
}
input{
   align-items: center;
   border: 0px;
   height: 9px;
    line-height: 16px;
    font-size: 16px;
    padding: 18px;
}
#lense{
    width: 38px;
    background-color: #202340;
    color: white;
    border-radius: 0px 45px 45px 0px;
}
#lense:hover{
cursor: pointer;
}
#lense>svg{

    fill: white;
    padding-top: 15px;
    margin-left: 5px;
    
}
#layered-sale{
    margin-left: 240px;   
}
#layered-sale>img{
  width: 300px;
  height: 50px;  
}
#layered-sale>img:hover{
   cursor: pointer;
  }
#header-bottom{
    display: flex;
    margin-left: 25px;
    display: flex;
}
#header-bottom>img:hover{
    color: #0098b8;
}
#hamburger-text{
   display: flex;
   margin: 15px;
}
#hamburger-text:hover{
    color: #02bdd5;
    fill: #02bdd5;
    cursor: pointer;
}
span{
    display: flex;
    padding: 5px;
   
}
#user-section{
    
    display: flex;
    margin-bottom: 20px;
    margin-left: 200px;
   
   
}
.redirect-right{
    display: flex;
}
#user-section>div{
    display: flex;

    padding: 20px;

}
.user-section-svg>div>svg{
    width: 24px;
    height: 24px;
    }
#user-section>div:hover{
    color: #02bdd5;
    fill: #02bdd5;
    cursor: pointer;
}

ul{
    margin-left: 110px;
    list-style: none;
    line-height: 16px;
    display: flex;
    margin-top:17px;
   
}
ul>li{
    
    font-size: 16px;
    line-height: 14px;
    margin: 7px;
   
}
li:hover{
    color: #0098b8;
    cursor: pointer;
}

#sort-filter{
    margin-top: 120px;
    margin-right: 30px;
    margin-bottom:10px ;
    padding: 20px;
    display: flex;
    justify-content:space-evenly ;


}
#sort-filter>div{
    display: flex;
    
}
#sort-filter>div>h2{
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
}
#sort-filter>div>span{
    font-size: 30px;
    font-weight: bold;


}
#sort-filter>div>select{
    display: block;
    font-size: 18px;
    color: rgb(86, 67, 67);

}
.dropdown-list{
    border: none;
  
  }
  .dropdown-list:hover{
    border: none;
   
  }
