body{
    z-index: ;
    color: #3e3f46;
    font-family: roboto, Arial, Helvetica, sans-serif;
}
#cashback{
    display: flex;
  justify-content: space-between;
}
#cashback>div{
    padding-left: 10px;
    display: block;
}
#cashback>div>span>img{
    height: 15px;
    width: 30px;
}
#learn-more{
  
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}
#learn-more>div{
    font-size: 25px;
    width: 50%;
    margin: auto;
    display: flex;
}

#learn-more>div>p>img{
    height: 30px;
    width: 70px;   
}
#learn-more>div>button{
    border: 1px solid black;
    border-radius: 50px;
    width: auto;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    margin-left: 15px;
    background-color: white;
}
#banner:hover{
cursor: pointer;
}
.four-card-per-row{
    padding:10px 10px;
    width: 98%;
    background-color: #f0f1f7;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.four-card-per-row>div{
    background-color: white;
    padding: 20px 0px 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#sign-in{
    width: 90%;
    margin: auto;
}
.four-card-per-row>div>a{
    color: #2e2c38;
    display: block;
}
.four-card-per-row>div>a:hover{
    color: #00a8ca;
    display: block;
}
.four-card-per-row>div>div>button{
    display: block;
    margin-top: 15px;
    margin-bottom:15px ;
    height: 40px;
    width: 90%;
    font-size: 20px;
    border-radius: 50px;
    background-color: #545871;
    border: 0px;
    color: white;
}
.four-card-per-row>div>div>button:hover{
    
    background-color: rgb(14,14,14);
    color: white;
}
#perfect-gift-parent-div{
    display: flex;
}
.popular-brands{
font-size: 30px;
margin-top: 20px;
text-align: center;
margin-bottom: 60px;
}
#perfect-gift-parent-div>div>img{
    width: 90%;
}
#perfect-gift-parent-div>div>img:hover{
   cursor: pointer;
}
#child-2{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding-top: 15px;
    gap: 8px;
    margin-bottom: 100px;
}
#child-2>img{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 97%;
    height: 130px;
    
}
#img-promo{
    display: flex;
}
#img-promo>div>img{
    padding: 10px;
}
.promo-text-1{
    text-align: center;
    font-weight: bold;
}
.promo-text-1>img{
    height: 15px;
    width: 30px;
}
.promo-text-1+p{
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    
}
.flex-3-img{
    padding-bottom: 30px;
    padding-top: 80px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.flex-3-img>div>img{
    width: 400px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.grid-6{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    width: 90%;
    margin: auto;
    padding-bottom: 30px;

}
.grid-6>div{
   
width: 100%;
}
.grid-6>div:hover{
    width: 100%;
    cursor: pointer;
}
.grid-6>div>img{

    border-radius: 100px;
    border: 10px solid rgb(163, 157, 157);
    width: 80%;
    height: auto;
    text-align: center;
}
.grid-6>div>p{
    text-align: center;
    font-weight: bold;
    color: #545871;
}
.grid-4{
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    padding: 10px;
    gap: 1px;
}
.grid-4>div>img{
    margin-bottom: 10px;
    width: 96%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.products-grid-4{
    padding-top: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 98%;
    gap: 1px;
}
.products-grid-4>div{
    padding: 8pxpx;
    margin-top: 15px;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}


.products-grid-4>div>img{
    margin: auto;
    width: 100%;
    border-radius: 10px;
    
}
.products-grid-4>div>hr{
    width: 83%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.products-grid-4>div>h2{
    text-align: center;
    padding-bottom:5px;  
    padding-top: 10px;

}
.products-grid-4>div>p{
    text-align: center;
}
.products-grid-4>div>div{
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
 
}
.products-grid-4>div>div>button{

    color: rgb(59, 59, 132);
    font-weight: bold;
    display: block;   
    border-radius: 10px;
    border: none;
    background-color: #b5bfbc;
    font-size: 18px;
    width: 130px;
    padding: 5px;
    padding-left: 14px;
}
.products-grid-4>div>div>button:hover{

    color: rgb(255, 255, 255);
    font-weight: bold;
    display: block;   
    border-radius: 10px;
    border: none;
    background-color: #164d8f;
    font-size: 18px;
    width: 130px;
    padding: 5px;
    padding-left: 14px;
}