body{
    margin: auto;
    font-family: roboto,Helvetica, sans-serif;
}
#right-sidebar{
    width: 0px;
    height: 100vh;
    background-color: #ffffff;
    position:fixed;
    top: 0;
    right: 0;
    z-index: 2;
    white-space: nowrap;
    overflow: scroll;
   padding: 10px 10px 10px 0px;
   transition: width .5s ease;
}
#overlay{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    position: relative;
    top: 0;
    right: 0;
    z-index: 2;
    display: none;
}
.right-sidebar-item{
    display: flex;
    text-decoration: none;
    color: rgb(88, 84, 84);
    padding: .5em;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    font-size: 15px;
 
}
.account-section{
    display: flex;
    text-decoration: none;
    color: rgb(88, 84, 84);
    padding: .5em;
    align-items: center;
    cursor: pointer;
    height: 1.2em;
}
.account-section:hover{
    background-color: rgb(206, 204, 216);
   
}
.right-sidebar-item>svg{
    width: 10px;
    height: 10px;
    
    /* margin-left:170px ; */


}
.right-sidebar-item:hover{
    background-color: rgb(206, 204, 216);
    color: aqua;
}
#right-sidebar-child-div{
    display: flex;
}#right-sidebar-child-div>svg{
    width: 50px;
    height: 50px;
}
#right-sidebar-child-div>h1{
    margin-top: 15px;
    margin-right: 80px;
}
#right-sidebar-child-div>img{
width: 30px;
height: 30px;
padding: 5px;
border: 1px dashed ;
border-radius: 50px;

}
.pre-icon{
    width: 50px;
    height: 20px;
}
#right-sidebar>h3{
    /* border: 1px solid red; */
    margin: 15px 0 10px 15px;
    font-weight: bold;
}
hr{
    margin-top: 20px;
}